*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}
h1{
    font-size: 40px;
    color: greenyellow;
    margin: 100px 0 20px 0;
}
main{
    width: 100%;
}
input{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 2px solid violet;
}
button{
    background-color: violet;
    color: #fff;
    border: none;
    width: 40%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(197, 105, 197);
    cursor: pointer;
    transition: 0.5s;
}
#resultado{
    color: greenyellow;
    margin-top: 10px;
}